@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; 
@import url("https://use.typekit.net/ztx0dzb.css");

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#3e8ed0;
    background-position: top;  
    background-size: 100%;
}
#background-div{

    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
#background-div img {
    width: 100vw;
    overflow: hidden;

}
body {
    font-size: 1.5em;
}
#nav{
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /*Transition effect when sliding down (and up) */
    }
#router-content {
    margin-top: 120px;
}
.navbar-brand .navbar-burger {
    align-self: center;
}
.tegram-card{
    background-color: #fafafa;
    border-radius: 9px;
    padding: 1em;
    transition: background-color 0.3s;
    /* padding: 10px;
    width: 100%; */
}
.post-img{
    max-height: 60vh;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.post-card:hover {
    background-color: rgb(215, 229, 255);
    transition: background-color 0.3s;
}

.logo {
    font-family: magneto, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 4rem;
}
.like-text {
    color: hotpink
}
.feed {
    margin: 2rem;
   display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax()); 

   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
   


   grid-template-rows: minmax(min-content, max-content);

   column-gap: 2rem;
   row-gap: 2rem;
   justify-items: center;

   
} 
.navbar-item {
    font-weight: bold;
}
.router-link-exact-active {
    font-weight: normal;
}
.navbar-menu * .navbar-item {
    font-size: 1.4em;
}

@media screen and (max-width: 797px) {
    .feed{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) {
    .feed {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px){
    .feed{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.account-details {
    margin: 2rem;
}
