@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; 
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
}
.tegram-card{
    background-color: #e4e4e4;
    margin-top: 10px;
    border-radius: 9px;
    padding: 10px;
    width: 100%;
}
/*@media screen and (min-width: 1024px){
    .login-card {

    }
}*/
