@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; 
@import url("https://use.typekit.net/ztx0dzb.css");

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    padding: 10px;
}
.tegram-card{
    background-color: #e4e4e4;
    border-radius: 9px;
    padding: 1em;
}
.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo {
    font-family: casey,sans-serif;
    font-weight: 900;
    font-style: normal;
}
.feed {
    margin: 2rem;
   display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax()); 

   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
   


   grid-template-rows: minmax(min-content, max-content);

   column-gap: 2rem;
   row-gap: 2rem;
   justify-items: center;

   
} 
@media screen and (max-width: 797px) {
    .feed{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) {
    .feed {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px){
    .feed{
    grid-template-columns: 1fr 1fr 1fr;
    }
}


   
/*
   @media screen and (min-width: 992px) {
       .feed {
           grid-template-columns: 1fr 1fr 1fr;
       }
   }

   @media screen and (min-width: 1024px) {
       .feed {
           grid-template-columns: 1fr 1fr 1fr 1fr;
       }
   } */ 